* {
    margin: 0;
    padding: 0;
}

.grupo {
    display: flex;
    flex-direction: column;
}

.cabecalho {
    background-color: #12ddaa;
    color: #fff;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.navegacao {
    background-color: #ad5566;
    display: inline-block;
    width: 30%;
    padding: 10px;
}

.secao {
    background-color: #32a97c;
}

.rodape {
    background-color: #00ddff;
    height: 70px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conteudos {
    display: flex;
    height: 200px;
}
.menu a:hover {
    color: red,;
}
.redes {
    display: flex;
    align-items: center;
}
.redes img {
    margin-left: 10px;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}